%h2= tournament.name

%h3 Detalles
%p= tournament.description
= javascript :highlight

%h3 Resultados

%table.tournament
  %thead
    %tr
      %th.name IP
      %th.name Nombre
      %th.points Puntos
      - tournament.tiebreaks.each do |tb|
        %th.points= tb.to_s.upcase
      - 1.upto(tournament.rounds) do |rnum|
        %th.round= "R#{rnum}"
  %tbody
    - tournament.sorted_players.each do |player|
      %tr.player{:id => "player_#{player.ip}"}
        %td.ip= player.ip
        %td.name= player.name
        %td.points= player.score
        - tournament.tiebreaks.each do |tb|
          %td.points= player.send(tb)
        - 1.upto(tournament.rounds) do |rnum|
          = round_td player.rounds[rnum]
